:root {
    --sections-color: #000000;
    --background-buttons-color: #263238;
    --descriptions-color: #8F95A5;
    --price-period-color: #EEEEEE;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.03em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Логотип */
.logo {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: var(--sections-color);
}

span {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #939393;
}

/* Навігація */
.header-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}

/* Кнопка Let`s Talk */
.modal-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--sections-color);
    font-style: normal;
    list-style: none;
    background-color: #E5E5E5;
}

/* Caption */
.main-caption {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    font-style: normal;
    color: var(--sections-color);
}

.main-caption-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    font-style: normal;
    color: var(--descriptions-color);
}

.get-started-button {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #FFFFFF;
    background-color: var(--background-buttons-color);
}

/* Skills */
.skills-caption {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    font-style: normal;
    color: var(--sections-color);
}

.skills-marker {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    font-style: normal;
    color: var(--sections-color);
    list-style: none;
}

.skills-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--descriptions-color);
}

.learn-more-button {
    color: #ffffff;
    background-color: var(--background-buttons-color);
}

/* About us */
.section-about-us {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--sections-color);
}

.about-us-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    color: var(--descriptions-color);
}

.about-us-markers {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #2A3246;
}

.markers-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--descriptions-color);
}

/* Pricing */
.section-pricing {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--sections-color);
}

.pricing-markers {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--background-buttons-color);
}

.pricing-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--descriptions-color);
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: var(--background-buttons-color);
    background-color: var(--price-period-color);
}

.per-month {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #546269;
    background-color: var(--price-period-color);
}

.contact-us {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--sections-color);
}

.contact-us-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--descriptions-color);
}

.subscribe-button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--background-buttons-color);
}

.footer-links {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--descriptions-color);
}